{{define "marketplace"}}
<html class="no-js" lang="zxx">
    {{template "head"}}
    <body>
        {{template "header".}}
        <div class="bradcam_area bradcam_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text">
                            <h3>Welcome, {{.name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /bradcam_area  -->
        <!-- Start Align Area -->
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <h3 class="mb-30">Marketplace</h3>
                    <div class="progress-table-wrap">
                        <div class="progress-table">
                            <div class="table-head">
                                <div class="serial">#</div>
                                <div class="country">Name</div>
                                <div class="country">School</div>
                                <div class="visit">IRR</div>
                                <div class="percentage">Raised/Goal</div>
                                <div class="visit">LinkedIn</div>
                                <div class="visit">Invest</div>
                            </div>
                            {{range $index, $elem := .items}}
                            <div class="table-row">
                                <div class="serial">{{add $index 1}}</div>
                                <div class="country">{{$elem.Name}}</div>
                                <div class="country">{{$elem.School}}</div>
                                <div class="visit">{{percentage $elem.Goal}}%</div>
                                <div class="percentage">
                                    <div class="progress">
                                        <div class="progress-bar color-{{add $index 1}}" role="progressbar" style="width: {{percentage $elem.Goal}}%"
                                            aria-valuenow="{{percentage $elem.Goal}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <a href="https://id.linkedin.com/in/{{$elem.Linkedin}}" class="genric-btn link circle">Link</a>
                                <a href="#" class="genric-btn info circle">Invest</a>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
        {{template "script"}}
    </body>
</html>
{{end}}